<div class="ui-g-12">
  <div class="ui-g-6">
    <h3>Filtro</h3>
    <md-select placeholder="Tipo" [(ngModel)]="newNameParam">
      <md-option *ngFor="let t of paramTypes" [value]="t">
        {{ t }}
      </md-option>
    </md-select>
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Condición" [(ngModel)]="newValueParam">
    </md-input-container>
    <a md-mini-fab (click)="addItem()"><md-icon>+</md-icon></a>              
  </div>
  <div class="ui-g-6">
    <h3>Paginación / Orden</h3>
    <md-select placeholder="Max resultados" [(ngModel)]="limits">
      <md-option *ngFor="let n of maxResultsAllows" [value]="n">
        {{ n }}
      </md-option>
    </md-select>
    <md-input-container>
      <input mdInput placeholder="Campo ordenación" [(ngModel)]="orderBy">
    </md-input-container>
    <md-radio-group [(ngModel)]="typeOrder">
      <md-radio-button value="asc">ASC</md-radio-button>
      <md-radio-button value="desc">DESC</md-radio-button>
    </md-radio-group>


  </div>
</div>

<div>
  <span *ngFor="let q of queryParams; let i = index" >
    {{q.name}}={{q.value}}
    <button pButton type="button" (click)="deleteQueryParam(i)" icon="fa-close"></button>
  </span>
  <br/>
  <button type="button" (click)="searchSolr()" pButton label="Buscar"></button>
</div>