<h1>Solr Querys</h1>

<div>
    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-6 form-group">
                <label for="urlSolr">Solr Url</label>
                <input type="text" class="form-control" [(ngModel)]="urlSolr" name="urlSolr" placeholder="Introduzca la url del Handle Solr Select"/>     
            </div>
            <div class="col-2">
                <label for="pageSize">Page Size</label>
                <input type="number" class="form-control" [(ngModel)]="pageSize" name="pageSize"/>     
            </div>
            <div class="col-2">
                <label for="site">Site</label>
                <input type="text" class="form-control" [(ngModel)]="site" name="site"/>     
            </div>
            <div class="col-2">
                <label for="sort">Sort</label>
                <input type="text" class="form-control" [(ngModel)]="sort" name="sort"/>     
            </div>
        </div>
        <div class="row">
          <div class="col-9 form-group">
              <label for="query">Solr Query</label>
              <input type="text" class="form-control" [(ngModel)]="query" name="query" placeholder="Introduzca la query a lanzar"/>
          </div>
          <div class="col-3 d-flex align-items-end">
            <button type="submit" class="btn btn-lg btn-primary">Buscar</button>
          </div>
        </div>
    </form>
</div>

<div *ngIf="solrResult">
  <h2>Resultados:  <span class="badge badge-pill badge-success">{{solrResult.response.numFound}} registros</span></h2>
  <p *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</p>
  <p class="font-italic"><small>Query : {{finalQuery}}</small></p>
  <p></p>
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Path</th>
          <th scope="col">Title</th>
          <th scope="col">Type</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doc of docs; index as i; first as isFirst">                      
          <td>{{doc.path}}</td>
          <td>{{doc.Title_prop}}</td>
          <td>{{doc.type}}</td>
          <td>
            <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Detail</h4>
                        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                <th scope="col">Field</th>
                                <th scope="col">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><th scope="row">ID:</th><td>{{doc.id}}</td></tr>
                                <tr><th scope="row">Title:</th><td>{{doc.Title_prop}}</td></tr>
                                <tr><th scope="row">Path:</th><td>{{doc.path}}</td></tr>
                                <tr><th scope="row">Type:</th><td>{{doc.type}}</td></tr>
                                <tr><th scope="row">Created:</th><td>{{doc.created}}</td></tr>
                                <tr><th scope="row">Last Modified:</th><td>{{doc.lastmodified}}</td></tr>
                                <tr><th scope="row">Released:</th><td>{{doc.released}}</td></tr>
                                <tr><th scope="row">Content Date:</th><td>{{doc.contentdate}}</td></tr>                                    
                            </tbody>
                        </table>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
                    </div>
            </ng-template>                    
            <button class="btn btn-lg btn-outline-primary" (click)="open(content)"><fa name="search"></fa></button>
          </td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination [collectionSize]="solrResult.response.numFound" [(page)]="page" 
      aria-label="Default pagination" [maxSize]="5" [boundaryLinks]="true" [pageSize]="pageSize"
      (pageChange)="onSubmit()">
    </ngb-pagination>
    
</div>